@model HelloWorld2.Model.Post

@{
    ViewBag.Title = "Post Details";
}

<div class="apost">
    @* Post Details *@
    <div class="post-detail-header semi-large-text">
        <span class="semi-large-text">@Model.Title <span class="to-the-right"><i class="fa fa-calendar"></i> @(Model.Date == null ? "" : Model.Date.ToShortDateString())</span></span>
        <hr />
        <span><i class="fa fa-user"></i> By @Model.Author <span class="label label-info to-the-right">@Model.Project.Name</span></span>
        <br />
        <span class="show-end-of-line medium-big-text">
            @Html.Raw(Model.ContentDisplay)
        </span>

    </div>
    <br />

    @* Write Comment Section *@
    <br />
    <span class="semi-large-text">Add Comment</span>
    @*<span class="to-the-right"> @Model.Category</span>*@
    <hr />
    

    @* User Comments *@

    @Html.Partial("_Comments", Model.Id)
    @*@foreach (var comment in @Model.Comments ?? new List<HelloWorld2.Model.Comment>())
        {
            <div data-comment-id="@comment.Id" class="one-comment">
                @if (User.IsInRole("admin"))
                {
                    <button class="btn btn-primary to-the-right edit-comment" style="margin-left:3px">Edit</button>
                    <button class="btn btn-danger to-the-right delete-comment">Delete</button>
                }
                <span class="shift-slighly-right"><b>@comment.Author</b></span>
                <br />
                <div class="shift-right" style="margin-left: 5px;">@Html.Raw(comment.DisplayContent)</div>
                <br />
            </div>
        }*@

</div>


@section ngservices {

}

@section ngcontrollers {
    <script src="~/Scripts/app/Comments/ctl-comments.js"></script>

}

